* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	/* background-color: #eff3f8; */
	background-color: #fff;
	font-family: "Poppins", sans-serif;
}

:root {
	/* --primary-color-light: #00867E; */
	--primary-color-light: #9E061F;
	--secondary-color-light: #F0F9FF;
	/* --secondary-color-light: #56578D; */
	/* --secondary-color-light: #BABBE8; */
	/* --secondary-color-light: #6190E6; */
	--text-color-primary: #4b5563;
	/* --text-color: #028881; */
	--text-color-secondary: #606162;
	--text-color-success: #008000;
	--text-color-error: #ff0000;
	--text-color-warning: #ffa500;
	--text-color-info: #0000ff;

	--card-shadow: 0px 10px 40px rgba(41, 50, 65, 0.06);
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}

h2 {
	font-weight: 700;
	font-size: 20px;
	/* color: #333; */
}
h3 {
	font-weight: 700;
	font-size: 18px;
	/* color: #333; */
}

/* Formularios */
.msg__form__error {
	color: #eb5f40;
	font-size: 12px;
}

.p-button-info {
	background-color: var(--primary-color);
	border: none;
}
.p-button-info:hover {
	background-color: #606162;
}
.p-button.p-button-info:enabled:focus{
	box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--primary-color), 0 1px 2px 0 rgb(0, 0, 0);
}

input[type="radio" i] {
	width: 15px;
	height: 15px;
}

input[type="radio"]:checked {
	accent-color: var(--primary-color) !important;
}

/*  TabMenu Prime */
.p-menuitem-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 !important;
}
.p-menuitem-text {
	font-size: 12px !important;
	font-weight: 600 !important;
	text-transform: uppercase !important;
	padding: 0.5rem 0.75rem 0.5rem 0 !important;
}

/* Accordion Prime */
.p-accordion .p-accordion-header .p-accordion-header-link {
	font-size: 14px !important;
	padding: 0.2rem !important;
	background-color: var(--primary-color-light) !important;
	color: white !important;
	border: 1px solid var(--primary-color-light) !important;
}
.p-accordion-content {
	padding: 0.5rem !important;
	font-size: 14px !important;
	max-height: 120px !important;
	overflow-y: auto !important;
}